<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bart</title>
  </head>
  <body>
    <h1>Bart</h1>
    <script src="./../js/func.js"></script>

  </body>
</html>
