<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bart</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/styleB.css
">

  </head>
  <body>
    <h1>Bart</h1>
    <h2>{{ subTitle }}</h2>
    <a href="./index">Klik</a>



  </body>
</html>
