<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css
">

  </head>
  <body>

    <h1>Ćwiczenia z Node </h1>
    <a href="./Bart">Klik</a>
<script src="./../js/func.js"></script>
  </body>
</html>
